<!doctype html>
<html lang="en">
  <head>
    <title>eWallet Web UI</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
      <dov class="col col-md-6 mr-auto ml-auto">
        <div class="container">
          <h1> Distributed eWallet System </h1>
          <p> <em> You are on CLI connected to: {{ env.APP_URL }} by {{ env.APP_ID }}</em> </p>

          <ul class="nav nav-pills" style="margin-bottom: 2rem">
            <li class="nav-item">
              <a class="nav-link" href="/webui/ping">Ping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/webui/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webui/transfer">Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webui/saldo">Saldo Lokal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webui/totalSaldo">Total Saldo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webui/misc">Misc</a>
            </li>
          </ul>

          <div class="card" id="register-card">
            <div class="card-body">
              <h2> Register <small> [General] </small></h2>
              <p> Mendaftarkan pasangan (userId, nama) ke server tujuan yang
                diidentifikasi dari ID server (NPM) atau IP address. Nantinya
                User akan terdaftar di server tujuan dengan saldo 0. </p>
              <form id="register-form" onsubmit="return false">
                <div class="form-group">
                  <label>ID Pengguna yang Didaftarkan</label>
                  <input type="text" class="form-control" name="user_id" placeholder="Enter User ID">
                </div>
                <div class="form-group">
                  <label>Nama yang Didaftarkan</label>
                  <input type="text" class="form-control" name="name" placeholder="Enter Name">
                </div>
                <hr />
                <div class="row">
                  <div class="col col-12">
                    <p> <strong> Server Tujuan </strong> </p>
                  </div>
                  <div class="col col-6">
                    <div class="form-group">
                      <label> By User ID</label>
                      <input type="text" class="form-control" name="targetId" placeholder="Enter user ID">
                    </div>
                    <button id="submit-uid-btn" type="submit" class="btn btn-primary submit-btn">Submit</button>
                  </div>
                  <div class="col col-6">
                    <div class="form-group">
                      <label> By IP Address</label>
                      <input type="text" class="form-control" name="targetIp" placeholder="Enter IP address" value="localhost">
                    </div>
                    <button id="submit-ip-btn" type="submit" class="btn btn-primary submit-btn">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <hr />

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Result</h4>
              <pre id="result-box" style="background-color:#0a0a0a;color:#fff;white-space: pre-wrap">{{result}}</pre>
            </div>
          </div>
        </dov>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var findIp = function (userId, callback) {
          $.ajax({
            url: '{{ env.APP_URL }}/api/find/' + userId,
            type: 'GET',
            dataType: 'json',
            timeout: 20000,
          })
          .done(function(result) {
            if (!result) {
              $('#result-box').html("User ID yang dicari tidak ada :(");
              return;
            }
            callback(result.ip);
          })
          .fail(function(error) {
            $('#result-box').html("User ID yang dicari tidak ada :(");
          });
        };

        var sendRequest = function (url, user_id, nama) {
          $.ajax({
            url: '{{ env.APP_URL }}/api/register',
            type: 'POST',
            dataType: 'json',
            data: { destUrl: url, user_id: user_id, nama: nama},
            timeout: 20000
          })
          .done(function(result) {
            $('#result-box').html(JSON.stringify(result, null, 2));
          })
          .fail(function(error) {
            $('#result-box').html(JSON.stringify(error, null, 2));
          });
        };

        $('#submit-uid-btn').on('click', function () {
          $('#result-box').html('');

          var targetId = $('input[name="targetId"]').val();
          var user_id = $('input[name="user_id"]').val();
          var nama = $('input[name="name"]').val();
          findIp(targetId, function (targetIp, user_id, nama) {
            $('input[name="targetIp"]').val(targetIp);
            sendRequest(targetIp);
          });
        });

        $('#submit-ip-btn').on('click', function () {
          $('#result-box').html('');

          var targetIp = $('input[name="targetIp"]').val();
          var user_id = $('input[name="user_id"]').val();
          var nama = $('input[name="name"]').val();
          sendRequest(targetIp, user_id, nama);
        });
      });
    </script>
  </body>
</html>